* {
    font-family: 'Roboto', sans-serif;
}
.container {
    width: 976px;
    margin-left: auto; 
    margin-right: auto;
}

.row {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    
}
.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12 {
padding-left: 8px;
padding-right: 8px;
box-sizing: border-box;

}

.col-1 {
    flex-basis: 8.3333%;
}
.col-2 {
    flex-basis: 16.6667%;
}
.col-3 {
    flex-basis: 24.9999%;
}
.col-4 {
    flex-basis: 33.3333%;
}
.col-5 {
    flex-basis: 41.6667%
}
.col-6 {
    flex-basis: 50%;
}
.col-7 {
    flex-basis: 58.3333%;
}
.col-8 {
    flex-basis: 66.6667%;
}
.col-9 {
    flex-basis: 74.9999%;
}
.col-10 {
    flex-basis: 83.3333%
}
.col-11 {
    flex-basis: 91.6667%
}
.col-12 {
    flex-basis: 100%
}
/*закончили с флексом, идем к элементам*/

.navigation {
    height: 72px; 
}
header {
    background: #FFFFFF;
    box-shadow: 0px 0px 16px rgba(38, 38, 38, 0.16);
}
.asap {
    border: 1px solid #E0E0E0;
    box-sizing: border-box;
    border-radius: 2px;
}


.location {
    width: 292px;   
    height: 40px;
    border: 1px solid #E0E0E0;
    box-sizing: border-box;
    border-radius: 2px;
    justify-content: flex-start;
}

.locationimg {
    padding-left: 12px;
    padding-right: 24px;
}

/*padding для всех элементов в хедере*/
.asap .location .locationimg {
    padding-top: 16px;
    padding-bottom: 16px;
}